{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'analytics.css'%}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Keania+One&family=Poppins&display=swap" rel="stylesheet">
    <title>Triple J</title>
</head>
<body>
    <header>
        Triple J Analytics
    </header>
    <div class="wrapper">
        <div class="number flex">
            <h1 id="numberOfMembers"></h1>
            <h1>Active Members</h1>
        </div>
        <div class="live-report widget">
            <div class="flex">
                <div class="col">
                    <h3>Demographics</h3>
                    <div class="chartBox">
                        <canvas id="demographics"></canvas>
                    </div>
                </div>
                <div class="col">
                    <h3>Memberships</h3>
                    <div class="chartBox">
                        <canvas id="memberships"></canvas>
                    </div>
                </div>
                
                <div class="col">
                    <h3>Workouts</h3>
                    <div class="chartBox">
                        <canvas id="workouts"></canvas>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="months widget">
            <div class="flex" id="month-btns"></div>
        </div>
        <h1>Activity Report</h1>
        <div class="activity widget flex">
            <div class="hours">
                <h3>Peak Hours</h3>
                <div class="chartBox">
                    <canvas id="peakHours" style="max-width: 500px;"></canvas>
                </div>
            </div>
            <div class="days">
                <h3>Peak Days</h3>
                <div class="chartBox">
                    <canvas id="peakDays" style="max-width: 500px;"></canvas>
                </div>
            </div>
        </div>        
        <h1>Sales Report</h1>
        <div class="sales widget">
            <div class="table">
                <h3>Daily</h3>
                <h3>Monthly</h3>
                <table id="daily" style="width: 100%;">
                </table>
                <table id="monthly" style="width: 100%;">
                </table>
                <div class="summation">
                    <hr>
                    <p id="dailySales"></p>
                </div>
                <div class="summation">
                    <hr>
                    <p id="monthlySales"></p>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="{% static 'request.js' %}"></script>
    <script src="{% static 'analytics.js'%}"></script>
</body>
</html>