{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Triple J</title>
</head>
<body>
    <h1>Triple J Login</h1>
    <label for="usernmae">Username</label><input type="text" name="username" id="username"><br>
    <label for="password">Password</label><input type="password" name="password" id="password"><br>
    <button onclick="login()">Submit</button>

    <script src="{% static 'request.js' %}"></script>
    <script src="{% static 'login.js' %}"></script>
</body>
</html>